/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ---------------- CSS Reset & Clearfix --------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* Reset - http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input { outline: 0; }

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------- Global styles ------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

body {
	font: 1rem/1.25rem "Open Sans", Arial, sans-serif;
	background: #f2f2f2;
	
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		 -o-font-smoothing: antialiased;
			font-smoothing: antialiased;
	
	text-rendering: optimizelegibility;
}

/* grid */
.grid {
	width: 1000px;
	margin: auto;
}

/* Selections */
::-moz-selection {
	background: #797d80;
	color: #f5f8fa;
}
::-webkit-selection {
	background: #797d80;
	color: #f5f8fa;
}
::selection {
	background: #797d80;
	color: #f5f8fa;
}

/* Some options */
*:focus { outline: 0; }
strong { font-weight: 600; }
em { font-style: italic; }
sup { vertical-align: super; font-weight: normal; font-size: .875rem; }
.clear { clear: both; }

/* Grid classes */
.left { float: left; }
.right { float: right; }

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* -------------------- Main header -------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

#main-header {
	width: 100%;
	height: 55px;
	background: #323738;
	border-bottom: 2px solid #18191a;
}

/* Logo */
#main-header h1 img {
	margin-top: 8px;
	margin-right: 20px;
}

/* Nav */
#main-header nav li {
	display: inline-block;
	line-height: 55px;
	border-left: 1px solid #616466;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: -4px;
}
#main-header nav li a {
	display: block;
	color: #ebebeb;
	text-decoration: none;
}
#main-header nav li:last-child { border-right: 1px solid #616466; }
#main-header nav li:hover { background: #4f5556; }

/* Account */
.account {
	color: #ebebeb;
	text-decoration: none;
	line-height: 55px;
}

.account img {
	float: left;
	margin: 8px 15px 0 0;
	width: 40px;
	height: 40px;

	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.logout {
	margin-left: 10px;
	display: inline-block;
	height: 100%;
}

/* Btn GitHub */
#main-header .btn-github {
	margin-top: 10px;
	display: block;
	background: #36a3d9;
	color: #fff;
	width: 180px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;

	-webkit-border-radius: 28px;
	   -moz-border-radius: 28px;
		-ms-border-radius: 28px;
		 -o-border-radius: 28px;
			border-radius: 28px;
}
#main-header .btn-github:hover,
#main-header .btn-github:focus {
	background: #4ab0e2;
}
#main-header .btn-github:active {
	position: relative;
	top: 1px;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------- Main content -------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* Pre header */
#title {
	margin: 60px 0;
	padding-bottom: 60px;
	border-bottom: 1px solid #aaafb3;
}

/* Title */
#title h2 {
	font: 700 42px/50px "Roboto Slab", sans-serif;
	color: #323738;
}

/* Select */
#title select {
	width: 200px;
	height: 30px;
	margin-top: 10px;
}

/* Project list */
#project-list > li {
	display: inline-block;
	position: relative;
	background: #fff;
	width: 300px;
	height: auto;
	margin-right: 45px;
	margin-bottom: 45px;
	vertical-align: top;

	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
	   -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
		-ms-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
		 -o-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
			box-shadow: 0 3px 2px rgba(0, 0, 0, .15);

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		-ms-border-radius: 4px;
		 -o-border-radius: 4px;
			border-radius: 4px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#project-list > li:nth-child(3n) { margin-right: 0; }
#project-list > li:hover {
	top: -2px;

	-webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
	   -moz-box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
		-ms-box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
		 -o-box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
			box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
}

/* Inner styles */
#project-list > li img {
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
	width: 120px;

	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

#project-list > li h2 {
	color: #323738;
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 20px 0;
	text-align: center;
}

#project-list > li h3 {
	color: #323738;
	font-size: 20px;
	margin: 10px 0 20px 0;
	text-align: center;
}

#project-list > li ul { margin-left: 10px; }
#project-list > li li {
	display: inline-block;
	font-size: 12px;
	color: #616466;
	margin-bottom: 20px;
	padding: 2px 8px;
	background: #ebebeb;
	margin-right: 5px;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		-ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

#project-list > li p {
	width: 90%;
	color: #616466;
	font-size: 14px;
	line-height: 20px;
	margin-left: 10px;
}

#project-list > li .apply {
	background: #36a3d9;
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
	margin-top: 20px;
	text-decoration: none;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	text-align: center;

	-webkit-box-shadow: 0 2px #3399cc;
	   -moz-box-shadow: 0 2px #3399cc;
		-ms-box-shadow: 0 2px #3399cc;
		 -o-box-shadow: 0 2px #3399cc;
			box-shadow: 0 2px #3399cc;

	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
		-ms-border-radius: 0 0 4px 4px;
		 -o-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
}
#project-list > li .apply:hover,
#project-list > li .apply:focus {
	background: #4ab0e2;
}

/* Main content */
#main-content {
	width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: 60px;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
		-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
		 -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
			box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		-ms-border-radius: 4px;
		 -o-border-radius: 4px;
			border-radius: 4px;
}

/* Top part - steps */
#main-content .top {
	background: #2e3133;
	height: 140px;

	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
		-ms-border-radius: 4px 4px 0 0;
		 -o-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
}

#main-content .top ul { text-align: center; }

#main-content .top li {
	display: inline-block;
	margin-right: 120px;
	color: #ebebeb;
}

#main-content .top li:last-child { margin-right: 0; }

#main-content .top .step-circle {
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #ebebeb;
	margin: 25px auto;

	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

#main-content .top .step-circle.grey { background: #616466; }
#main-content .top .step-circle.blue { background: #36a3d9; }

#main-content form > div {
	min-height: 100px;
	border-bottom: 1px solid #f0f0f0;
}

#main-content form label {
	display: inline-block;
	line-height: 100px;
	font-weight: 600;
	width: 250px;
	margin-left: 40px;
	color: #2e3133;
}

#main-content form .input-form,
#title form .input-form {
	font: 14px/18px "Open Sans", sans-serif;
	width: 45%;
	height: 35px;
	border: 1px solid #d3d3d3;
	border-top: 1px solid #b3b3b3;
	padding-left: 10px;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		-ms-border-radius: 4px;
		 -o-border-radius: 4px;
			border-radius: 4px;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
		-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
		 -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

#title form select {
	margin-right: 10px;
}

#main-content form .input-form:focus {
	border: 1px solid #b3b3b3;
}

#main-content form textarea {
	height: 75px;
	max-width: 55%;
	max-height: 75px;
	padding-top: 10px;
	vertical-align: middle;
	display: inline-block;
}

#main-content form .textarea label { line-height: 125px; }

#main-content form select {
	width: 45%;
	height: 35px;
}

#main-content form input[type="submit"],
#title input[type="submit"] {
	display: block;
	background: #36a3d9;
	color: #fff;
	width: 190px;
	height: 40px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	margin-top: 40px;
	margin-left: 40px;
	border: 0;
	cursor: pointer;

	-webkit-border-radius: 28px;
	   -moz-border-radius: 28px;
		-ms-border-radius: 28px;
		 -o-border-radius: 28px;
			border-radius: 28px;
}

#title form .input-form {
	width: 20%;
}

#title input[type="submit"] {
	width: 60px;
	height: 30px;
	line-height: 25px;
	margin-left: 10px;
	display: inline-block;
}

#main-content form input[type="submit"]:hover,
#main-content form input[type="submit"]:focus,
#title input[type="submit"]:hover,
#title input[type="submit"]:focus {
	background: #4ab0e2;
}
#main-content form input[type="submit"]:active,
#title input[type="submit"]:active {
	position: relative;
	top: 1px;
}

/* User page */
.user #main-content { margin-top: 60px; }

.user .top {
	position: relative;
	color: #ebebeb;
}

.user .green { background: #36d96c; }

.user .avatar-user {
	margin: 20px 0 0 20px;
	width: 100px;

	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.user .top .left { margin-left: 20px; }
.user .top .hireme { margin-right: 20px !important; }

.user h2 {
	font: 700 24px/30px "Roboto Slab", sans-serif;
	margin-top: 35px;
	margin-bottom: 10px;
}
.user h2 a {
	text-decoration: none;
	color: #ebebeb;
}

.user h2 a:hover { text-decoration: underline; }

.user-browse-score h3 {
	margin-top: 20px;
	padding-left: 20px;
	text-align: left !important;
}

.user-browse-score span {
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
	padding-left: 20px;
	margin-bottom: 20px;
}

/* infos */
.info {
	width: 86%;
	margin: auto;
	font-size: 18px;
	font-weight: 600;
	color: #323738;
}

.sub-title {
	font-weight: 400;
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #2e3133;
}

.info li {
	display: inline-block;
	vertical-align: middle;
}
.info .mail {
	height: 36px;
	background: url(../images/user-mail.png) no-repeat;
	padding-top: 8px;
	padding-left: 70px;
	margin-right: 80px;
}

.info .company {
	height: 60px;
	background: url(../images/company-user.png) no-repeat;
	padding-top: 20px;
	padding-left: 70px;
	margin-right: 80px;
}

.info .location {
	height: 56px;
	background: url(../images/location-user.png) no-repeat;
	padding-top: 15px;
	padding-left: 70px;
}

/* stat */
.user-stat,
.main-score {
	margin-top: 40px;
	display: inline-block;
	width: 25%;
	border-top: 2px solid #2e3133;
	color: #2e3133;
	font-size: 80px;
	line-height: 90px;
	font-weight: 700;
	text-align: right;
}

.user-stat span,
.main-score span {
	margin-top: 20px;
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.main-score {
	display: block;
	width: 86%;
	margin: 60px auto 0;
	color: #36a3d9;
	font-size: 180px;
	line-height: 200px;
	text-align: right;
}

.main-score span {
	color: #2e3133;
	font-size: 22px;
	line-height: 24px;
}

.stat-1 {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 40px;
}

.stat-2 { margin-right: 6%; }

/* Langage */
.langage {
	width: 86%;
	margin: 0 auto 40px;
}
.langage .sub-title { margin-bottom: 60px; }

#language-list li {
	width: 100px;
	color: #ebebeb;
	padding: 2px 8px;
	display: block;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 5px;

	border-radius: 4px;
}

#only-lan {
	padding: 8px;
	color: #ebebeb;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ---------------------- Footer ----------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

#main-footer {
	
}